In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
cardio_alco = pd.read_csv('C:/Users/PYTHON/Data Science Projects/Turing tests/input/cardio_alco.csv')
cardio_base = pd.read_csv('C:/Users/PYTHON/Data Science Projects/Turing tests/input/cardio_base.csv')
covid_data = pd.read_csv('C:/Users/PYTHON/Data Science Projects/Turing tests/input/covid_data.csv')

In [11]:
from io import StringIO
cardio_alco2 = pd.read_csv(StringIO(cardio_alco), sep=';')

TypeError: initial_value must be str or None, not DataFrame

In [9]:
cardio_alco.head(20)

   id;alco
0     44;0
1     45;0
2     46;0
3     47;0
4     49;0
5     51;0
6     52;0
7     53;0
8     54;0
9     56;0
10    57;0
11    58;0
12    59;0
13    60;0
14    61;0
15    62;0
16    63;0
17    64;0
18    65;0
19    66;0

In [3]:
cardio_base.head()

   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0   0  18393       2     168    62.0    110     80            1      0
1   1  20228       1     156    85.0    140     90            3      0
2   2  18857       1     165    64.0    130     70            3      0
3   3  17623       2     169    82.0    150    100            1      0
4   4  17474       1     156    56.0    100     60            1      0

In [4]:
covid_data.head()

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5

Merge the cardio alco and cardio base data

In [8]:
df_cardio = cardio_base.merge(cardio_alco, on='id', how='left')

KeyError: 'id'